body {
    margin: 0;
    height: 100vh;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

aside {
    width: 25%;
    background-color: #002859;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffc828;
    font-weight: bold;
    font-size: 40px;
}

aside img {
    max-width: 80%;
    height: auto;
}

main {
    background-color: #f6f4ec;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 65%;
}

.campos {
    display: flex;
    flex: 1;
    justify-content: center;
}

.campo {
    display: flex;
    flex-direction: column;
    flex: 1;
}
form input,
select,
textarea {
    margin-bottom: 30px;
    border-radius: 15px;
    padding: 15px;
    background-color: lightgray;
    font-weight: bold;
    font-size: 14px;
    border: none;
    width: 80%;
}
form button {
    margin-top: 30px;
    padding: 15px;
    border-radius: 20px;
    border: solid 3px #002859;
    background-color: #002859;
    color: #ffc828;
    font-weight: bold;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}

form button:hover {
    background-color: azure;
    color: #002859;
    font-weight: bold;
}

#observacion {
    height: 100%;
}
textarea {
    resize: none;
}
label{
    margin-bottom: 5px;
}