body {
    background: linear-gradient(to bottom right, #002859, #30526d);
    margin: 0px;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.folio{
    width: 75%;
    min-width: 600px;
    height: 100%;
    background-color: #f6f4ec;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: top;
}
img{
    height: 140px;
    width: auto;
}

.btnContainer{
    flex:1;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0%;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 50px;
}

.title, .perfil{
    display: flex;
}

.perfil{
    align-items: center;
    margin-right: 30px;
}

.infoPerfil div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    width: 100%;
}

.crearbtn{
    margin-top: 30px;
}

.perfil img{
    height: 100px;
    border-radius: 40px;
    border:solid 8px #002859;
    margin-right: 10px;
}

.progress {
    width: 100%;
    margin-right: -20px;
    margin-bottom: 50px;
    display: flex;
}

.dual-progress,
.fct-progress {
    width: 48%;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #eee;
    padding: 10px;
    box-shadow: 1px 1px 2px #ccc;
}

.dual-progress p,
.fct-progress p {
    font-size: 14px;
    margin-bottom: 10px;
}

.progress-bar {
    height: 20px;
    background-color: #ddd;
    border-radius: 5px;
}

.completed-progress {
    height: 100%;
    background-color: #002859;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 14px;
}

th {
    background-color: #002859;
    color: #fff;
}

td:nth-child(6) {
    width: 50px;
}

td:nth-child(7) {
    width: 150px;
}

td:last-child {
    text-align: center;
}

@media (max-width: 768px) {
    .dual-progress,
    .fct-progress {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}
button {
    padding: 15px;
    border-radius: 20px;
    border: solid 3px #002859;
    background-color: #002859;
    color: #ffc828;
    font-weight: bold;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: azure;
    color: #002859;
    font-weight: bold;
}
tr:hover{
    background-color: lightgrey;
}

.btnLogout {
    background-color: darkred;
    color: white;
    border:solid 3px #ffc828;
}
