<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/edit-and-show.css}" />
    <title>Edit</title>
</head>
<body>
<aside>
    <img th:src="@{/img/logo.png}" alt="Logo de Cesur" />
    <p>Sistema de Gestión Dual</p>
</aside>
<main>
    <h1>Añadir actividad:</h1>
    <form method="post" th:action="${actividad.getId() != null ? '/update' : '/save'}">
        <div class="campos">

            <div class="campo">

                <label for="horas">Horas realizadas</label>
                <input type="number" name="hoursDone" id="horas" th:value="${actividad != null ? actividad.getHoursDone() : 0}" min="0" />

                <label for="fecha">Fecha:</label>
                <input type="date" name="date" id="fecha" th:value="${actividad != null ? #dates.format(actividad.getDate(), 'yyyy-MM-dd'): 0}" >

                <label for="titulo">Actividad Realizada:</label>
                <input type="text" name="name" id="titulo" th:value="${actividad!= null?actividad.getName():''}"/>

                <label style="display: none" for="id"></label>
                <input type="text" name="id" id="id" th:value="${actividad!= null?actividad.getId():''}" style="display: none"/>

            </div>

            <div class="campo">
                <label for="tipos">Tipo:</label>
                <select id="tipos" name="practiceKind" th:value="${actividad!= null?actividad.getPracticeKind():'Dual'}">
                    <option value="fct">FCT</option>
                    <option value="dual">Dual</option>
                </select>

                <label for="observacion">Observaciones:</label>
                <textarea name="observations" id="observacion" th:text="${actividad!= null?actividad.getObservations():''}"></textarea>
            </div>

        </div>

        <button type="submit">Guardar</button>
        <form th:action="${'http://localhost:8080/delete/'+actividad.getId()}" method="post">
            <button style="width: 100%">Eliminar</button>
        </form>
        <a th:href="@{/backwards}">
            <button type="button" style="width: 100%">Volver</button>
        </a>
    </form>
</main>
</body>
</html>