<!DOCTYPE html>
<html>

<body th:with="alumno=${session.alumno}">
<h2>Nombre de la empresa o Ubicacion</h2>

<label for="nombre">Nombre de la Empresa:</label>
<p id="nombre"></p>

<label for="email">Email:</label>
<p id="email">
<h2 th:text="${alumno.getEnterprise().getEmail()}"></h2>
</p>

<label for="observaciones">Observaciones:</label>
<p id="observaciones">
<h2 th:text="${alumno.getEnterprise().getObservations()}"></h2>
</p>

<label for="telefono">Telefono:</label>
<p id="telefono">
<h2 th:text="${alumno.getEnterprise().getPhone()}"></h2>
</p>

<label for="responsable">Responsable:</label>
<p id="responsable">
<h2 th:text="${alumno.getEnterprise().getResponsable()}"></h2>
</p>

<label for="ubicacion">Ubicacion:</label>
<p id="ubicacion">
<h2 th:text="${alumno.getEnterprise().getUbication()}"></h2>
</p>
</body>

</html>