<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style-main.css}" />
    <title>Main</title>
</head>
<body th:with="alumno=${session.alumno}">
<div class="folio">
    <div class="header">
        <div class="title">
            <img th:src="@{/img/Cesur-removebg.png}" alt="logo de cesur" />
            <div>
                <h1>CESUR</h1>
                <p>Tu Centro Oficial de FP</p>
            </div>
        </div>
        <div class="perfil">
            <img th:src="@{/img/Francisco-Romero.jpg}" alt="logo de cesur" />
            <h2 th:text="${alumno.getName()+' '+alumno.getLastName()}"></h2>
        </div>
    </div>
    <div class="progress">
        <div class="dual-progress">
            <p th:text="${alumno.getDualHours()+'/600 horas Dual Completadas'}"></p>
            <div class="progress-bar">
                <div class="completed-progress" th:style="'width: ' + ${ (alumno.getDualHours()*100)/600} + '%'"></div>
            </div>
        </div>
        <div class="fct-progress">
            <p th:text="${alumno.getFctHours()+'/600 horas FCT Completadas'}"></p>
            <div class="progress-bar">
                <div class="completed-progress" th:style="'width: ' + ${ (alumno.getFctHours()*100)/600} + '%'"></div>
            </div>
        </div>
    </div>
    <div class="filters">
        <div class="filter-item">
            <label for="task-filter">Nombre de la tarea:</label>
            <input type="search" placeholder="Escribe el titulo aquí..."/>
        </div>

        <div class="filter-item">
            <label for="task-filter">Tipo de práctica:</label>
            <select id="task-filter">
                <option value="all">Todas</option>
                <option value="dual">Dual</option>
                <option value="fct">FCT</option>
            </select>
        </div>
        <div class="filter-item">
            <label for="date-filter">Filtrar por fecha:</label>
            <input type="date" id="date-filter" />
        </div>
    </div>
    <table>
        <thead>
        <tr>
            <th>Actividad</th>
            <th>Tipo Practica</th>
            <th>Fecha</th>
            <th>Horas</th>
            <th>Observaciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${alumno.getTaskList()}">
            <td th:text="${task.name}"></td>
            <td th:text="${task.practiceKind}"></td>
            <td th:text="${task.date}"></td>
            <td th:text="${task.hoursDone}"></td>
            <td th:text="${task.observations}"></td>
        </tr>

        </tbody>
    </table>
    <form th:action="@{/taskEdit}" method="get">
        <button type="submit">Crear Actividad</button>
    </form>
</div>
</body>
</html>
