<!DOCTYPE html>
<html>

<body th:with="alumno=${session.alumno}">
<form>
    <img th:src="${alumno.getTeacher().getImage()}"alt="imagen profe" class="profile-image">

    <p></p>

    <label for="nombre">Nombre:</label><br>
    <p id="nombre">
    <h2 th:text="${alumno.getTeacher().getName()}"></h2>
    </p>

    <label for="apellido">Apellido:</label><br>
    <p id="apellido">
    <h2 th:text="${alumno.getTeacher().getLastName()}"></h2>
    </p>

    <label for="email">Email:</label><br>
    <p id="email">
    <h2 th:text="${alumno.getTeacher().getEmail()}"></h2>
    </p>
</form>
</body>

</html>